
data/predictive-analytics-sprint/data_dictionary.xlsx

data/predictive-analytics-sprint/employee_survey_data.csv

data/predictive-analytics-sprint/general_data.csv

data/predictive-analytics-sprint/in_time.csv

data/predictive-analytics-sprint/manager_survey_data.csv

data/predictive-analytics-sprint/out_time.csv

data/predictive-analytics-sprint/employee_data.csv

data/decision-modeling-sprint/circuits.csv

data/decision-modeling-sprint/constructor_results.csv

data/decision-modeling-sprint/constructor_standings.csv

data/decision-modeling-sprint/constructors.csv

data/decision-modeling-sprint/driver_standings.csv

data/decision-modeling-sprint/drivers.csv

data/decision-modeling-sprint/lap_times.csv

data/decision-modeling-sprint/pit_stops.csv

data/decision-modeling-sprint/qualifying.csv

data/decision-modeling-sprint/races.csv

data/decision-modeling-sprint/results.csv

data/decision-modeling-sprint/seasons.csv

data/decision-modeling-sprint/sprint_results.csv

data/decision-modeling-sprint/status.csv
