
data/predictive-analytics-sprint/data_dictionary.xlsx

data/predictive-analytics-sprint/employee_survey_data.csv

data/predictive-analytics-sprint/general_data.csv

data/predictive-analytics-sprint/in_time.csv

data/predictive-analytics-sprint/manager_survey_data.csv

data/predictive-analytics-sprint/out_time.csv

data/predictive-analytics-sprint/employee_data.csv

data/decision-modeling-sprint/circuits.csv

data/decision-modeling-sprint/constructor_results.csv

data/decision-modeling-sprint/constructor_standings.csv

data/decision-modeling-sprint/constructors.csv

data/decision-modeling-sprint/driver_standings.csv

data/decision-modeling-sprint/drivers.csv

data/decision-modeling-sprint/lap_times.csv

data/decision-modeling-sprint/pit_stops.csv

data/decision-modeling-sprint/qualifying.csv

data/decision-modeling-sprint/races.csv

data/decision-modeling-sprint/results.csv

data/decision-modeling-sprint/seasons.csv

data/decision-modeling-sprint/sprint_results.csv

data/decision-modeling-sprint/status.csv

data/decision-modeling-sprint/f1db-circuits.csv

data/decision-modeling-sprint/f1db-constructors-previous-next-constructors.csv

data/decision-modeling-sprint/f1db-constructors.csv

data/decision-modeling-sprint/f1db-continents.csv

data/decision-modeling-sprint/f1db-countries.csv

data/decision-modeling-sprint/f1db-drivers-family-relationships.csv

data/decision-modeling-sprint/f1db-drivers.csv

data/decision-modeling-sprint/f1db-engine-manufacturers.csv

data/decision-modeling-sprint/f1db-entrants.csv

data/decision-modeling-sprint/f1db-grands-prix.csv

data/decision-modeling-sprint/f1db-races-constructor-standings.csv

data/decision-modeling-sprint/f1db-races-driver-of-the-day-results.csv

data/decision-modeling-sprint/f1db-races-driver-standings.csv

data/decision-modeling-sprint/f1db-races-fastest-laps.csv

data/decision-modeling-sprint/f1db-races-free-practice-1-results.csv

data/decision-modeling-sprint/f1db-races-free-practice-2-results.csv

data/decision-modeling-sprint/f1db-races-free-practice-3-results.csv

data/decision-modeling-sprint/f1db-races-free-practice-4-results.csv

data/decision-modeling-sprint/f1db-races-pit-stops.csv

data/decision-modeling-sprint/f1db-races-pre-qualifying-results.csv

data/decision-modeling-sprint/f1db-races-qualifying-1-results.csv

data/decision-modeling-sprint/f1db-races-qualifying-2-results.csv

data/decision-modeling-sprint/f1db-races-qualifying-results.csv

data/decision-modeling-sprint/f1db-races-race-results.csv

data/decision-modeling-sprint/f1db-races-sprint-qualifying-results.csv

data/decision-modeling-sprint/f1db-races-sprint-race-results.csv

data/decision-modeling-sprint/f1db-races-sprint-starting-grid-positions.csv

data/decision-modeling-sprint/f1db-races-starting-grid-positions.csv

data/decision-modeling-sprint/f1db-races-warming-up-results.csv

data/decision-modeling-sprint/f1db-races.csv

data/decision-modeling-sprint/f1db-seasons-constructor-standings.csv

data/decision-modeling-sprint/f1db-seasons-driver-standings.csv

data/decision-modeling-sprint/f1db-seasons-entrants-constructors.csv

data/decision-modeling-sprint/f1db-seasons-entrants-drivers.csv

data/decision-modeling-sprint/f1db-seasons-entrants-tyre-manufacturers.csv

data/decision-modeling-sprint/f1db-seasons-entrants.csv

data/decision-modeling-sprint/f1db-seasons.csv

data/decision-modeling-sprint/f1db-tyre-manufacturers.csv
