
data/predictive-analytics-sprint/data_dictionary.xlsx

data/predictive-analytics-sprint/employee_survey_data.csv

data/predictive-analytics-sprint/general_data.csv

data/predictive-analytics-sprint/in_time.csv

data/predictive-analytics-sprint/manager_survey_data.csv

data/predictive-analytics-sprint/out_time.csv
